<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="Name" value="WindowsServiceDemo"/>
    <add key="ServiceAssembly" value="ServiceTimeSync.dll,DataSyncService"/>

   <!--mongodb阿里云地址-->
    <!--<add key="mongodb" value="mongodb://root:Fxft2017@dds-bp104401edaca7e41.mongodb.rds.aliyuncs.com:3717,dds-bp104401edaca7e42.mongodb.rds.aliyuncs.com:3717/admin?replicaSet=mgset-3015103"/>-->
    <!--mongodb本地地址-->
    <add key="mongodb" value="mongodb://127.0.0.1:27017"/>
    <!--MongoDB数据库名称-->
    <add key="database" value="CardInfo"/>
    <!--MongoDB数据库主表名称-->
    <add key="mainTable" value="tblCard"/>

    <!--数据备份时间:小时-->
    <add key="Hours" value="24"/>
    <!--数据备份时间:分钟-->
    <add key="Minutes" value="00"/>

    <!--MySql阿里云地址-->
    <!--
    <add key="MySqlCon" value="Server=rm-bp1gut3b938v3tms1.mysql.rds.aliyuncs.com;Port=3306;initial catalog=erp;uid=jijiuser;pwd=Fxft2016;Allow User Variables=True;Convert Zero Datetime=True;"/>-->
    <!--MySql本地地址-->
    <add key="MySqlCon" value="Server=localhost;Port=3306;initial catalog=mobile_card;uid=sa;pwd=123456;Allow User Variables=True;Convert Zero Datetime=True"/>


    
  </appSettings>
</configuration>