<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="Name" value="服务时间同步服务"/>
    <add key="ServiceAssembly" value="ServiceTimeSync.dll,DataSyncService"/>

    <!--<add key="mongodb" value="mongodb://root:Fxft2017@dds-bp104401edaca7e41.mongodb.rds.aliyuncs.com:3717,dds-bp104401edaca7e42.mongodb.rds.aliyuncs.com:3717/admin?replicaSet=mgset-3015103"/>-->
    <!--<add key="mongodb" value="mongodb://root:Fxft2017@dds-bp104401edaca7e41.mongodb.rds.aliyuncs.com:3717,dds-bp104401edaca7e42.mongodb.rds.aliyuncs.com:3717/admin?replicaSet=mgset-3015103"/>-->
    <!--MongoDB数据库名称-->
    <add key="database" value="CardInfo"/>
    <!--MongoDB数据库主表名称-->
    <add key="mainTable" value="tblCard"/>

    <!--数据备份时间:小时-->
    <add key="Hours" value="24"/>
    <!--数据备份时间:分钟-->
    <add key="Minutes" value="00"/>

    <!--测试地址-->
    <add key="MySqlCon" value="Server=rm-bp1gut3b938v3tms1.mysql.rds.aliyuncs.com;Port=3306;initial catalog=erp;uid=jijiuser;pwd=Fxft2016;Allow User Variables=True;Convert Zero Datetime=True;"/>

    <!--旧平台地址正式-->
    <add key="MySqlCon_JPT" value="Server=rm-bp1298754t3s53mtb.mysql.rds.aliyuncs.com;Port=3306;initial catalog=mobile_card;uid=mobilecard;pwd=1qazse4;Allow User Variables=True;Convert Zero Datetime=True;"/>
    
    <!--正式地址-->
    <!--<add key="MySqlCon" value="Server=rm-bp13y52rav2jc6952o.mysql.rds.aliyuncs.com;Port=3306;initial catalog=ckb_jxc;uid=root;pwd=Fxft123456;Allow User Variables=True;Convert Zero Datetime=True;Allow Zero Datetime=True"/>-->

    
  </appSettings>
</configuration>