<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
    <target name="log" xsi:type="File" fileName="${basedir}/Log/${shortdate}_log.txt"/>
    <target name="debug" xsi:type="File" fileName="${basedir}/Log/${shortdate}_debug.txt"/>
    <target name="trace" xsi:type="File" fileName="${basedir}/Log/${shortdate}_trace.txt"/>
    <target name="exception" xsi:type="File" fileName="${basedir}/Log/${shortdate}_exception.txt" layout="${longdate} | ${level:uppercase=false} | ${message} ${onexception:${exception:format=tostring} ${newline} ${stacktrace} ${newline}" />
    <target name="system" xsi:type="File" fileName="${basedir}/Log/System.txt"></target>
  </targets>
  <rules>
    <logger name="system" level="Info" writeTo="system" />
    <logger name="*" level="Debug" writeTo="debug"/>
    <logger name="*" level="Trace" writeTo="trace"/>
    <logger name="*" level="Info" writeTo="log"/>
    <logger name="*" level="Error" writeTo="exception"/>
  </rules>

  <!--是否启用NLog记录日志，启用则记录日志在本地-->
  <enable>true</enable>
  <!--日志保留的最大天数-->
  <maxlimit>3</maxlimit>

</nlog>
